*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
		/***************	Video background	****************/

.videoSection
{
	overflow: hidden;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;

}
.video-background
{
	position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
	
}
		/*********************************************************************/


						/***********Body***********/
body
{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
		/*********************************************************************/


					/************Paragraph****************/
p 
{
	margin: 0;
	padding: 1em 0;
	font-size: 20px;
}
		/*********************************************************************/


						/*************header 2**************/

h2
  {
    margin: 0;
    padding: 1em 0;
  }
		/*********************************************************************/
		
				/**************Unordered List***************/

ul
{
	list-style-type: square;
	text-align: left;
}

			/*********************************************************************/



				/***************Navigation Bar*****************/

#section-header
{
	overflow: hidden;
	width: 100%;
	height: 482px;
	position:relative;
	
}

.nav-bar
{
	position: relative;
	padding-top: 5px;
	float: right;
	margin-top: 18px;
	margin-right:18px;
	font-size: 17px;
	animation: movingnav 1.2s ease-in-out 0.5s 1 normal backwards;
}

section header div a.nav
{
	cursor: default;
  text-decoration: none;
  color: white;
  display: inline-block;
  background: rgba(0, 0, 0, 0.44);
  padding: 12px 20px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #666;
  margin: 0.5em 0;
  transition: all 0.2s ease-out;
}
.nav:hover
{
	background: rgba(0, 0, 0, 0.88);
	transform: scale(1.1);
}

.arrow-content-div
{
	width: 105px;
	height: 49px;
	border-radius: 23px;
	font-size: 14px;
	color: rgba(255,255,255,1);
	position: relative;
	left: 204px;
	top: -9px;
	display: inline-block;
	z-index: -1;
	
}
.arrow-content
{
	font-size: 10px;
	position: relative;
	top: 26px;
	text-align: center;
}
		/*********************************************************************/


						/**************The Logo*****************/
.logo
{
	height: 170px;
    width: 200px;
    float: left;
	position: relative;
	bottom: 32px;
	left: 8px;
}
		/*********************************************************************/


				/***************The Title of the page**************/
.Title
{
	font-size: 30px;    
	/* margin-top: 16px; */
  	text-align-last: center;
  	letter-spacing: 5px;
	position: relative;
	bottom: 200px;
	z-index: -1;
}
.N, .P 
{
  	color: rgb(255, 0, 0);
  	font-size: 80px;
  	font-style: italic;
  	letter-spacing: 5px;
  	font-family: arial;
}
		/*********************************************************************/


				/***************The content bar*****************/
.space
{
	width: 105px;
	height: 38px;
	position: relative;
	top: -38px;
	left: 76px;
	z-index: 99;
}
.arrowdiv
{
	height: 35px;
	width: 35px;
	background-color: rgba(0,0,0,0.88);
	border-radius: 20px;
	position: absolute;
	left: 110px;
	top: -37px;
	z-index: -1;
	overflow: hidden;
	text-align: center;
}
.arrow
{
	cursor: default;
	font-weight: 900;
	color: rgba(255,255,255,0.66);
	font-size: 22px;
}
.contentList
{
	background-color: rgba(0,0,0,0.44);
	width: 260px;
	height: 353px; 	
	border-radius: 24px;
	position: relative;
	top: 33px;
	left: 18px;
	display: none;
	animation: allContentList 0.8s ease-in-out ;
}

.contentList a
{
	cursor: default;
	color: white;
	background-color: rgba(0,0,0,0.88);
	font-size: 19px;
	width: 260px;
	display: block;	
	line-height: 27px;
	text-decoration: none;
	transition: transform 0.2s ease-out;
	padding: 12px 4px;
	font-weight: 600;
	border-radius: 100px;
	margin: 0.5em 0;
	text-align: center;

}
.l1
{
	position: absolute;
	top: -10px;
	animation: contentlist 0.6s ease-in-out 0s 1 backwards; 
}
.l2
{
	position: absolute;
	top: 51.1px;
	animation: contentlist 0.65s ease-in-out 0.05s 1 backwards; 
}
.l3
{
	position: absolute;
	top: 111.2px;
	animation: contentlist 0.7s ease-in-out 0.11s 1 backwards; 
}
.l4
{
	position: absolute;
	top: 171.4px;
	animation: contentlist 0.75s ease-in-out 0.18s 1 backwards;
}
.l5
{
	position: absolute;
	top: 231.8px;
	animation: contentlist 0.8s ease-in-out 0.26s 1 backwards; 
}
.l6
{
	position: absolute;
	top: 292px;
	animation: contentlist 0.85s ease-in-out 0.35s 1 backwards;
}


.contentList a:hover
{
	transform: scale(1.14);
}

		/*********************************************************************/



					/****************Go top button*******************/

#myBtn {
  	display: none; 
  	position: fixed;
  	bottom: 20px; 
  	right: 30px; 
  	z-index: 99; 
  	border: none;
  	outline: none;
  	background-color: rgba(6, 102, 255, 0.6);
  	color: white; 
  	cursor: pointer;
  	padding: 17px; 
  	border-radius: 12px; /* Rounded corners */
  	font-size: 20px; /* Increase font size */
	transition: all 1s ease-in-out;
	animation: topbutton 1s ease-in-out;
}

#myBtn:hover {
  	background-color: rgb(6, 51, 255);
	transform: rotate(720deg);
	transform-origin: center;
}
#myBtn:active
{
	transform: scale(1.2);
}		/*********************************************************************/


					/*************Images***************/

.pic
{
	overflow: hidden;
	width: 1920px;
	height: 600px;
	
}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic6
{
	width: 900px;
	height: 600px;
	display: none;
	position: relative;
	left: 17%;
	
	animation: movingpic 1s ease-in 0.5s 1 normal backwards;
}

		/*********************************************************************/

/**************************Add Articles Button*******************/
#addArticleButton{
	padding: 10px 15px;
	color: white;
	cursor: pointer;
	font-size: 24px;
	border-style: outset;
	border-width: 5px;
	border-radius: 23px;
	border-color: rgba(31, 133, 235, 0.91);
	background-color: rgba(0, 126, 204, 0.8);
	opacity: 0.8;
	transition: transform 0.55s ease-out 0s;
}
#addArticleButton:hover
{
	transform: scale(1.1);
		opacity: 1;
	border-style:inset;
}


			/********************** ||Contents|| **********************/




/**************Content Sections*************/

.section-of-content
{
  /*text-decoration: none;*/
  position: relative; /*To be able to position the delete button relative to the section*/
  color: white;
  display: inline-block;
  background: rgba(0, 0, 0, 0.44);
  padding: 12px 20px;
  font-weight: 600;
  border: 1px solid #666;
  margin: 0.5em 0;
}

/**************Content headers***************/


.content-header
{
  text-align:center;
  border: 1PX solid rgba(1, 13, 66, 0.464);
  border-width: 2px;
  border-radius:5px;
  background-color: rgba(0, 0, 0, 0.636); 
}

/**************Delete Button*************/

.deleteButton{
	color: white;
	position: absolute; /*To be able to position the delete button relative to the section*/
	display: inline-block;
	cursor: pointer;
	top:2%;
	right: 4%;
	padding: 10px 15px;
	font-size: 24px;
	border-radius: 23px;
	background-color: rgba(227, 13, 38, 0.62);
	opacity: 0.8;
	transition: transform 0.55s ease 0s;
	border-style: outset;
	border-width: 5px;
	border-color: rgba(90, 2, 2, 0.56);
}
.deleteButton:hover
{
	transform: scale(1.1);
	opacity: 1;
}

/*************Content Text**************/
.content
{
  text-align: left;
}
		

			/*********************************************************************/
			


					/************* Section D(About & contact us) / Boxes *************/
  #section-d
{
background: rgba(0, 0, 0, 0.44);
}

  #section-d .box {
    padding: 2em;
    color: #fff;
  }

  #section-d .box:first-child {
    background:rgba(9, 122, 214, 0.232);
  }

/*********************************************************************/


							/***************Animation***************/


@keyframes movingnav
{
	from
	{
		transform: translateX(400px);
	}
	to
	{
		transform: translateX(0);
	}
}
@-webkit-keyframes movingnav
{
	from
	{
		transform: translateX(400px);
	}
	to
	{
		transform: translateX(0);
	}
}
@keyframes topbutton
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}
	@-webkit-keyframes topbutton
	{
		from
		{
			opacity: 0;
		}
		to
		{
			opacity: 1;
		}
	}
@keyframes movingpic
{
	from
	{
		
		transform: translateX(1200px);
		
	}
	to
	{
		
		transform: translateX(0);
	}
}
@-webkit-keyframes movingpic
{
	from
	{
		
		transform: translateX(1200px);
		
	}
	to
	{
		
		transform: translateX(0);
	}
}
@keyframes contentlist
{
	from {
		opacity: 0;
		transform: translateX(220px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes contentlist
{
	from {
		opacity: 0;
		transform: translateX(220px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes allContentList
{
	from
	{
		opacity: 0;
		transform: translateY(-70px);
	}
	to
	{
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes allContentList
{
	from
	{
		opacity: 0;
		transform: translateY(-70px);
	}
	to
	{
		opacity: 1;
		transform: translateY(0);
	}
}

		/*********************************************************************/
